/* Regler for alle billeder generelt */
img {
  width: 100%;
  height: auto;
  display: block;
}
.index {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}
.index > main {
  grid-column: 2/3;
}
/* Placering af footer og header rigtigt på alle sider */
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
}

/* Burgermenu / header */
header {
  display: flex;
  justify-content: space-between;
  margin: 4vw;
}

.ikon img {
  width: 8rem;
  height: auto;
}

.hidden {
  opacity: 0%;
  transform: translateX(100%);
}
#menuknap {
  font-size: 3rem;
  color: #182c5e;
}
#menu {
  list-style: none;
  transition: transform 0.3s;
}
nav {
  display: grid;
  text-align: end;
  cursor: pointer;
}

/* Footer */
#footer {
  background-color: #182c5e;
  text-align: center;
  padding-top: 5vw;
  padding-bottom: 1vw;
  margin-top: 2vw;
}

footer a {
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: white;
}
footer .mail a,
.telefon a {
  padding: 1vw;
}
footer a:hover {
  text-decoration-line: underline;
}

#sociale_medier {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#sociale_medier img {
  width: 2rem;
  height: 2rem;
}

/* fonts */

a {
  font-family: sutro-shaded-primary, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #182c5e;
}

h1 {
  font-family: sutro-shaded-primary, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: sutro, serif;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-family: sutro, serif;
  font-weight: 500;
  font-style: italic;
}
h4 {
  font-family: sutro, serif;
  font-weight: 500;
  font-style: normal;
  text-decoration-line: underline;
}

p {
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 500;
  font-style: normal;
}

#splash_web {
  display: none;
}

/* Portlofio-side i mobil*/
#portfolio .baggrund_mobile {
  position: absolute;
  z-index: -10;
  top: 25vw;
}
#portfolio .baggrund_desktop {
  display: none;
}

#portfolio #section_one {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 4vw;
}
#portfolio .section_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#portfolio img:hover {
  background-color: #576da286;
}

/* Web-side i mobil */
#web {
  background-color: #dfdfea;
}
#web #section_one,
#web #section_two {
  display: grid;
  padding: 4vw;
  color: #182c5e;
}
#web .splash_menu,
#web .temabeskrivelse {
  text-align: center;
}
#web .temabeskrivelse {
  text-align: center;
}
#web .dokumentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
#web .dokumentation h2 {
  grid-column: 1/3;
  text-align: center;
}
#web #section_one p,
#web #section_two p {
  text-align: justify;
}

button {
  width: 15rem;
  height: 4rem;
  background-color: white;
  border: white;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.329);
  margin: 1rem;
}

@media (min-width: 600px) {
  /* Fjernelse af burgermenu */
  #menuknap {
    display: none;
  }
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }
  /* header */
  nav li {
    display: inline-block;
    padding-left: 2rem;
  }
  header {
    margin: 2vw;
  }

  /* splash-billeder */
  #splash_mobile {
    display: none;
  }
  #splash_web {
    display: ruby;
    display: grid;
    justify-content: center;
  }
  #splash_web img {
    width: 90vw;
  }

  /* Footer */
  #footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  /* Portlofio-side i desktop*/
  #portfolio .section_wrapper {
    display: flex;
  }
  #portfolio .baggrund_desktop {
    display: ruby;
    position: absolute;
    z-index: -10;
    top: 2vw;
    width: 100vw;
  }
  #portfolio .baggrund_mobile {
    display: none;
  }
}
